In [1]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.2.15-py2.py3-none-any.whl (309 kB)
     -------------------------------------- 309.8/309.8 kB 1.9 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.2.15
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np

def add_relative_noise(df, cols=None, std_percent=0.02, seed=42):
    np.random.seed(seed)
    if cols is None:
        cols = df.select_dtypes(include=[np.number]).columns.tolist()
    for c in cols:
        scale = df[c].std() * std_percent
        df[c] = df[c] + np.random.normal(0, scale, size=len(df))
    return df

C:\Users\kisha\AppData\Roaming\Python\Python310\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
df = pd.read_csv("../datasets/latestdataset - Copy.csv")

In [4]:
df.head()

,time,temperature_2m (°C),relative_humidity_2m (%),wind_speed_10m (km/h),rain (mm),precipitation (mm),soil_temperature_0_to_7cm (°C),soil_moisture_0_to_7cm (m³/m³)
0,2015-01-01T00:00,20.2,96,6.6,0.3,0.3,22.2,0.226
1,2015-01-01T01:00,20.2,95,9.3,0.3,0.3,22.0,0.229
2,2015-01-01T02:00,20.3,96,10.5,0.4,0.4,22.0,0.233
3,2015-01-01T03:00,21.1,93,8.7,0.1,0.1,22.4,0.234
4,2015-01-01T04:00,22.5,86,8.2,0.1,0.1,23.3,0.235

In [5]:
df.drop(columns=["rain (mm)", "precipitation (mm)", "soil_moisture_0_to_7cm (m³/m³)"], inplace=True)

In [6]:
df.head()

,time,temperature_2m (°C),relative_humidity_2m (%),wind_speed_10m (km/h),soil_temperature_0_to_7cm (°C)
0,2015-01-01T00:00,20.2,96,6.6,22.2
1,2015-01-01T01:00,20.2,95,9.3,22.0
2,2015-01-01T02:00,20.3,96,10.5,22.0
3,2015-01-01T03:00,21.1,93,8.7,22.4
4,2015-01-01T04:00,22.5,86,8.2,23.3

In [7]:
# Parse datetime
df['time'] = pd.to_datetime(df['time'])
df = df.set_index('time')

In [8]:
# Convert all to float for scaling
df = df.astype(float)

In [9]:
df.head()

,temperature_2m (°C),relative_humidity_2m (%),wind_speed_10m (km/h),soil_temperature_0_to_7cm (°C)
time,,,,
2015-01-01 00:00:00,20.2,96.0,6.6,22.2
2015-01-01 01:00:00,20.2,95.0,9.3,22.0
2015-01-01 02:00:00,20.3,96.0,10.5,22.0
2015-01-01 03:00:00,21.1,93.0,8.7,22.4
2015-01-01 04:00:00,22.5,86.0,8.2,23.3

In [10]:
df = add_relative_noise(df, std_percent=0.01)  # change noise level here
df.to_csv("stream_ready.csv", index=False)
print("Wrote stream_ready.csv")

Wrote stream_ready.csv